<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List of Classes</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment="left-menu">
</div>
<div th:fragment="left-menu">
  <div sec:authorize="isAuthenticated()">
    <p sec:authorize="hasAuthority('ADMIN')">
    <div class="sidenav">
      <h3 id="logo">
        Learning Academy Menu
      </h3>
      <a class="bar-item" th:href="@{|/admin/classes|}">Class List</a>
      <a class="bar-item" th:href="@{|/admin/teachers|}">Teacher List</a>
      <a class="bar-item" th:href="@{|/admin/subjects|}">Subject List</a>
      <a class="bar-item" th:href="@{|/admin/students|}">Student List</a>
      <a class="bar-item" th:href="@{/logout}">Log out</a>

    </div>
    </p>
  </div>
</div>
<div id="page">
  <div id="wrapper">
    <div id="header">
      <h3>Classes List</h3>
    </div>
  </div>

  <div id="container">
    <div id="content">
      <table>
        <tr>
          <th>id</th>
          <th>Section</th>
          <th>Subject</th>
          <th>Teacher</th>
          <th>Time</th>
          <th>List of Students</th>
        </tr>
        <tr th:each="class : ${classes}">
          <td><span th:text="${class.id}" th:name="id"> </span></td>
          <td><span th:text="${class.section}"> </span></td>
          <td><span th:text="${class.subject}"> </span></td>
          <td><span th:text="${class.teacher}"> </span></td>
          <td><span th:text="${class.time}"> </span></td>
          <td><a th:href="@{|/admin/classStudents|}">List</a></td>
        </tr>

      </table>
    </div>
  </div>
</div>

</body>
</html>